@import "https://unpkg.com/open-props";
* {
    margin: 0;
    padding: 0;
}

#myVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

#all {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#timeBtns,
#playing,
#type {
    width: 30vw;
}

#timeBtns {
    display: grid;
    gap: 1em;
    justify-content: center;
    padding-right: 15vw;
}

#min2,
#min5,
#min10 {
    background-color: rgba(255, 255, 255, 0.5);
    height: 2em;
    width: 8em;
    font-size: var(--font-size-fluid-1);
    border: none;
}

#type {
    display: grid;
    position: relative;
    gap: 3em;
    left: 5vw;
    padding-left: 15vw
}

#type1 {
    background-color: rgba(255, 132, 0, 0.75);
    border-radius: 50%;
    padding: 1em;
}

#type2 {
    background-color: rgba(0, 132, 255, 0.75);
    border-radius: 50%;
    padding: 1em;
}

#playing {
    display: contents;
}

#imgTrack,
#imgPlay {
    position: fixed;
    align-items: center;
}

#imgTrack {
    width: 30vw;
    height: 30vh;
}

#imgPlay {
    width: 10vw;
    height: 10vh
}