* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.time-select, 
.sound-picker,
.player-container
{
  height: 80%;
  flex: 1;
     /* flex-grow: 1; flex-shrink: 1; flex-basis: 0;の省略形 */

  background: rgb(211, 127, 127);
}
.time-select{
   background: lightblue;
}

.sound-picker{
  background: lightgreen
}