* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.time-select button,
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}
.sound-picker button:nth-child(1) {
  background: #4972a1;
}
.sound-picker button:nth-child(2) {
  background: #a14f49;
}
.sound-picker button img {
  height: 100%;
}

.time-select button:hover {
  background: white;
  color: black;
}

.player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 10%;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}

.play{
  margin: auto;
  position: relative;
}
.HeaderTitle{
  position: fixed;
  color: white;
  top: 5% ;
  font-size: 50px;

}
@media only screen and (max-width:767px){
  .app{
    height: 100%;
  }
  .HeaderTitle{
    font-size: 18px;
  }
  video{
    height: 100%;
    width: auto;
    display: block;
  }
  .time-select{
    position: fixed;
    height: 50%;
    bottom: 0;
    left: 0%;
    width: 50%;
  }
    
  .time-select button{
    width: 70%;
    height: 20%;
    color: white;
  border: 1px solid white;
  }

  .time-select button:hover {
  background: white;
  color: rgb(63, 63, 63);
  border: 0px solid white;
    box-shadow: 0px 0px 10px black;
  
  }
  .sound-picker{
    
    position: fixed;
    height: 50%;
    bottom: 0;
    right: 0%;
    width: 50%;
  }
  .sound-picker button{
    transition: ease-in-out 0.4s;
    box-shadow: 0px 0px 5px black;
  }
  .sound-picker button:hover{
    box-shadow: 0px 0px 10px black;
  }
  .player-container{
    height: 50%;
    position: fixed;
    top: 0;
  }
  .play{
    height: 10%;
  }
  .time-display{
    font-size: 20px;
  }
}                                                         